*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F5F9;
  transition: 0.2s;
}

main{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.filters{
  flex: 0 0 100%;
  font-size: 12px;
  margin: 10px;
  color: #636363;
}
.filters button{
  border: none;
  margin: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
.filters_button_active{
  border: none;
  margin: 5px 10px;
  background-color: #E1E4EA;
  padding: 4px 10px;
  border-radius: 12px;
}
.email{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #CFD2DC;
  background-color: white;
  margin: 10px;
  padding: 8px 5px;
  color: #636363;
  border-radius: 5px;
  cursor: pointer;
}
.profile_pic{
  background-color: #E54065;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
}
.email_content{
  font-size: 12px;
  background-color: transparent;
}
.email_content p, time, span{
  margin: 7px 5px;
  background-color: transparent;
}
.email_content span{
  font-weight: bold;
}
.favorite_flag{
  border: none;
  color: #E54065;
  background-color: transparent;
  font-size: 12px;
  margin-left: 20px;
  cursor: pointer;
}


.email_body{
  display: flex;
  color: #636363;
  flex: 1;
  background-color: white;
  border: 1px solid #CFD2DC;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  position: sticky;
  top: 10px;
}
.body_content{
  margin-left: 10px;
  background-color: transparent;
}
.body_content p{
  display: inline-block;
  font-size: 12px;
  margin: 10px 0;
  line-height: 18px;
  background-color: transparent;
}
.body_content div{
  background-color: transparent;
}
.body_profile_pic{
  background-color: #E54065;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.body_content_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: transparent;
}
.body_content_header h2{
  background-color: transparent;
}
.body_content_header time{
  font-size: 11px;
  display: inline-block;
  margin: 20px 0;
  flex: 0 0 100%;
}
.body_content button{
  background-color: #E54065;
  color: white;
  border: none;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}
